*{
    margin: 0;
    padding: 0;
}


   body {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }




.cabecalho {
    background-color: rgb(0, 0, 0);
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0;
    
.apresentacao-imagem{
    width: 30%;
}

.apresentacao{
    display: flex;
    background-color: var(--cinza);
    border: 2px solid black;
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;

}

:root{
    --cor-de-fundo: #abbbc5;
    --cor-de-texto: black;
    --cor-do-cabeçalho: white;
    --cinza: #abbbc5;}